<!-- 第１バナー -->
        <div class="box col-md-4 col-xs-12">
          <img src="/image01.jpg" alt="バナー" class="img-thumbnail">
        </div>
<!-- 第２バナー -->
        <div class="box col-md-4 col-xs-12">
          <img src="/image02.jpg" alt="バナー" class="img-thumbnail">
        </div>
<!-- バナー終了 -->