    <div class="modal fade" id="modal_box">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="box_inner">
            <img src="/image01.jpg" width="600px">
            <p class="text-center"><a class="btn btn-primary" data-dismiss="modal" href="#">閉じる</a></p>
          </div>
        </div>
      </div>
    </div>