<!-- carousel -->
    <div id="sampleCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li class="active" data-target="#sampleCarousel" data-slide-to="0"></li>
        <li data-target="#sampleCarousel" data-slide-to="1"></li>
        <li data-target="#sampleCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/image01.jpg" alt="First slide">
        </div>
        <div class="item">
          <img src="/image02.jpg" alt="Second slide">
        </div>
        <div class="item">
          <img src="/image03.jpg" alt="Third slide">
        </div>
        <div class="item">
          <img src="/image04.jpg" alt="Third slide">
        </div>
      </div>
      <a class="left carousel-control" href="#sampleCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">前へ</span>
      </a>
      <a class="right carousel-control" href="#sampleCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">次へ</span>
      </a>
    </div>
    <!-- carousel -->